.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title{
    font: 75px/75px Monoton, cursive;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
    word-spacing: 10px;
  }
  &-description{
    color: #fff;
    text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
  }
}
